*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-iteration-1{
  min-width: 340px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 150px;
  margin: 10px;
}

.div-iteration-1 div{
  padding: 10px;
}

.div-iteration-1 div:last-child{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

.div-iteration-1 div img{
  height: 100%;
  width: 100%;
}

.greetings{
  border: 1px solid black;
  width: 300px;
  margin: 5px;
}
